.leave-tab {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.leave-tab-button {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.leave-tab-button:hover {
  background-color: #e0e0e0;
}

.active-tab {
  background-color: #2e7d32;
  color: white;
  border-color: #2e7d32;
}

.active-tab:hover {
  background-color: #1b5e20;
  border-color: #1b5e20;
}

.main_container {
  margin-top: 15px;
  margin-left: 60px;
}

@media (max-width: 1024px) {
  .main_container {
    margin-left: 82px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .main_container {
    margin-left: 0px;
    margin-top: 70px;
  }
}

@media (max-width: 425px) {
  .main_container {
    padding: 5px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .leave-tab-button {
    padding: 10px 5px;
    font-size: small;
  }
}

@media (max-width: 320px) {
  .main_container {
    width: 333px;
    padding: 0;
    margin-left: 2px;
  }

  .leave-tab {
    gap: 5px;
    margin-right: 4px;
  }
}