.admin-container {
  margin-left: 50px;
  padding: 20px;
  background-color: #F4F4F4;
  overflow-x: auto;
}
.admin-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Form Section */
.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.form-container h2 {
  margin-bottom: 15px;
}
.form-fields {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 32.99%;
}
.input-field {
  /* width: 32.99%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 97.5%;
}
.add-btn:hover {
  background-color: #45A049;
}

/* Table Section */
.table-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.table-container h2 {
  margin-bottom: 15px;
}
table {
  width: 99.5%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #F0F0F0;
}
.active-status {
  color: green;
  font-weight: bold;
}
.inactive-status {
  color: red;
  font-weight: bold;
}
.no-projects {
  text-align: center;
  color: gray;
  padding: 10px;
}
.editBtn {
  background-color: #f1f0f0;
}
.editBtn:hover {
  background-color: #bbb;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-content {
  background-color: white;
  padding: 30px;
  width: 500px;
  border-radius: 8px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}
.close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
}
.close-button:hover {
  background-color: #45A049;
}

.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  margin-bottom: 10px;
  text-align: left;
}
.deleteBtn {
  margin-left: 8px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.deleteBtn:hover {
  background-color: #cc0000;
}
.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.filters input, .filters select {
  width: auto;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
  font-size: 14px;
}
.no-data {
  text-align: center;
  color: gray;
  padding: 20px;
  font-size: 18px;
}
.clear-filters-btn {
  background-color: #1976D2;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.clear-filters-btn:hover {
  background-color: #115293;
}


/* Responsiveness */
@media (max-width: 1024px) {
 .admin-container {
    margin-left: 80px;
  }
  .form-fields input, .form-fields select {
    width: 232px;
  }
  .form-container button{
    width: 676px;
  }

 .filters{
    row-gap: 0;
  }
  .filters h4{
    margin: 0;
  }
  .filters input, .filters select {
    width: 200px;
  }
  .filters select:first-of-type{
    margin-left:63px;
  }
  .filters button{
    width: 177px;
  }
  .table-wrapper {
    overflow-x: auto;
  }

  .modal-overlay{
    margin-left: 250px;
  }
  .modal-content .add-btn{
    width: 440px;
  }
}

@media (max-width: 768px) {
 .admin-container {
    margin-left: 0px;
  }
  .form-fields input, .form-fields select{
    width: 225px;
  }
  
  .form-container button{
    width: 655px;
  }
  .filters{
    row-gap: 0;
  }
  .filters h4{
    font-size: medium;
    margin: 0;
  }
  .filters input, .filters select {
    width: 200px;
  }
  .filters select:first-of-type{
    margin-left:65px;
  }
  .filters button{
    width: 177px;
  }

  .modal-overlay{
    margin-left: 0px;
  }
  .modal-content .add-btn{
    width: 425px;
  }
}

@media (max-width: 425px) {
  .form-container{
    text-align: center;
  }
  .form-fields{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-fields input, .form-fields select{
    width: 260px;
  }
  .form-container button{
    width: 230px;
  }

  .table-container h2{
    text-align: center;
  }
  .filters{
    row-gap: 0;
    display: flex;
    justify-content: center;
  }
  .filters h4{
    font-size: medium;
    width: 250px;
    margin: 0;
  }
  .filters input, .filters select {
    width: 250px;
  }
  .filters select:first-of-type{
    margin-left:0px;
  }
  .filters button{
    width: 228px;
  }

  .modal-content{
    width: 340px;
  }
  .modal-content h2{
    text-align: center;
  }
  .modal-content .add-btn{
    width: 232px;
    margin-left: 40px;
  }
}

@media (max-width: 375px) {
  .form-fields input, .form-fields select{
    width: 250px;
  }
  .form-container button{
    width: 220px;
  }

  .modal-content{
    width: 300px;
  }
  .modal-content .add-btn{
    width: 220px;
    margin-left: 25px;
  }
}

@media (max-width: 320px) {
  .form-container button{
    width: 210px;
  }
  .modal-content{
    width: 245px;
  }
  .modal-content .add-btn{
    width: 215px;
    margin-left: 0px;
  }
}